*{
    margin: 0;
    padding: 0;
}
/* header-part */
.header-section{
    background-image: url("./images/banner/banner2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.section-1{
    text-align: end;
    margin-right: 230px;
}
.header-title{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Rowdies', cursive;
    padding: 170px 3px 3px 180px;
}
.header-description{
    padding: 40px 3px 6px 150px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue;
}
.btn{
    padding: 13px 15px;
    margin-right: 3px;
    margin-top: 25px;
    font-size: 20px;
    color: wheat;
    background-color: chocolate;
    border-radius: 7px;
}
.failurs-year{
    display: flex;
}
.img-fact{
    margin: 90px 100px;
}
.failure-section{
    margin: 300px 240px 12px 25px;
}
.heading{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Bakbak One', cursive;
}
.section-description1{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.plan{
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
    font-family: 'Bakbak One', cursive;
}
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 40px 60px;
}
.icon h2{
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon p{
    text-align: center;
    margin-top: 9px;
    color: darkgrey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon img{
    margin: auto;
    display: block;
}
.section-4{ 
    background: linear-gradient(to bottom right, red, yellow), url("images/watch.png"); 
    background-repeat: no-repeat;
    width: 70%;
    height: 42vh;
    margin-left: 210px;
    margin-bottom: 50px;
    margin-top: 70px;
    background-blend-mode: soft-light;
}
.mindset{
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 50px 20px 50px;
}
.pos{
    color: rgb(47, 0, 255);
}
.btn-2{
    padding: 16px 25px;
    margin-left: 50px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(4, 128, 148);
    background-color: palegreen;
    border-radius: 7px;
    box-shadow: 3px 4px gray;
}
.section-2{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 80px;
}
.about{
    margin-right: 180px;
}
.about-title{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Bakbak One', cursive;
    margin-bottom: 15px;
}
.about-desc{
    font-size: 20px;
    color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image{
    width: 320px;
    height: 300px;
    border-radius: 50%;
    margin-right: 80px;
    margin-top: -20px;
}
.section-5{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    background-color: black;
    height: 70vh;
}
.footer-title{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 60px 100px 20px 0;
    color: white;
}
.footer-desc{
    color: white;
    padding-bottom: 30px;
}
.footer-desc-1{
    color: white;
    padding-bottom: 30px;
}
.link{
    margin-left: 10px;
}
.form-title{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 80px 30px 30px 50px;
}
.form{
    display: flex;
    flex-direction: column;
}
.box{
    padding: 15px 30px 15px 10px; 
    text-align: start;
    color: rgb(222, 222, 9);
    background-color: black;
    border-radius: 5px;
}
input{
    padding: 13px 40px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(26, 26, 27);
    background-color: cornflowerblue;
    border-radius: 7px;
    box-shadow: 3px 4px gray;
}
.side{
    display: flex;
    flex-direction: column;
}
.check{
    color: green;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.check, .fa-solid{
    margin-right: 6px;
}
